aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
chardet==4.0.0
emoji==1.6.1
idna==3.3
imgkit==1.2.2
multidict==5.2.0
py-cord @ git+https://github.com/Pycord-Development/pycord@1d65214e26be97be71f2caa9f6dcd5065395cbc2
python-dotenv==0.19.2
six==1.16.0
typing-extensions==4.0.1
yarl==1.7.2
